body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body .ui.segments,
body .ui.segment > .segment {
    box-shadow: none;
    border: none;
}

#main {
    margin-top: 6em;
}

#root {
    margin-top: 3em;
}
